@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

/* *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body
{
    font-family: 'Poppins', sans-serif;
    background:   #d9d9d9;
    margin: 0;
} */
.renew-page-name{
    text-align: center;
    margin-top: 5px;
}
.doc-update-container {



    background-color: #fff;
    /* padding: 20px; */
    width: 1000px;
    height: 590px;
    /* margin: 30px 0; */
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 200px;
    margin-left: 200px;
    border-radius: 5px;


}

.doc-update-buttons {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}



.update-button{
    background-color: #FAB84C;
    border: none;
    color: rgb(9, 9, 9);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    margin-top: 15px;
    /* margin-left: 100px;
    width:600px; */
    height:40px;



    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 4px;
}

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
 font-family: 'Poppins', sans-serif;
}
input {
 font-family: "Poppins", sans-serif;
} */





.form_1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}




.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px ;
    height: 55px;
    border-radius: .10rem;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}










.btn {


    width: 200px;
    background-color: #FAB84C;
    border: none;
    outline: none;
    height: 36px;
    border-radius: .3rem;
    /* display: block; */
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

.btn.transparent:hover {
    background-color: white;
    color: #e2d14d;
}

.btn:hover {
    background-color: black;
    color: white;
}
.panels-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);


}



.image {
    width: 100%;
    transition: transform 1.1s ease-in-out;
    transition-delay: 0.4s;
}





.btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
}





.wrapper {
    display: inline-block;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0, .10);
   margin-top: -10px;
    /*height: max-content;*/
    border-radius: 4px;
    padding: 2rem;
    position: relative;
    background-color: #fdfafa;
    justify-content: center;
    box-shadow: 7px 10px 65px -19px rgba(0,0,0,0.6);
    -webkit-box-shadow: 7px 10px 65px -19px rgba(0,0,0,0.6);
    -moz-box-shadow: 7px 10px 65px -19px rgba(0,0,0,0.6);

}

.wrapper-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;


}
.wrapper .inputBox{
    width: 100%;
    height: 50%;
    margin-bottom: 1.3rem;
    position:relative;
}

.wrapper .inputBox input{
    width: 100%;
    height: 40px;
    border: 1px solid #eee;
    outline: #aaa;
    border-radius: 4px;
    padding: 1rem;
    background-color:#D9D9D9;
}

.wrapper .inputBox button{
    width: 100%;
    padding: .7rem 2rem;
    margin-top: 1rem;
    display: block;

}