:root{
    --primary: #4e525a;
    --secondary: #bfc0c0;
    --white: #fff;
    --text-clr: #5b6475;
    --header-clr:#FAB84C;
    --next-btn-hover: #8577d2;
    --back-btn-hover: #8b8c8c;
}



.wrapper-addveh{
    width: 750px;
    height: min-content;
    max-width: 100%;
    background: var(--white);
    margin: 50px auto 0;
    padding: 50px;
    border-radius: 5px;

}

.wrapper-addveh .header{
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
}

.wrapper-addveh .header ul{
    display: flex;
}

.wrapper-addveh .header ul li{
    margin-right: 50px;
    position: relative;
}

.wrapper-addveh .header ul li:last-child{
    margin-right: 0;
}

.wrapper-addveh .header ul li:before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 55px;
    width: 100%;
    height: 2px;
    background: var(--secondary);
}

.wrapper-addveh .header ul li:last-child:before{
    display: none;
}

.wrapper-addveh .header ul li div{
    padding: 5px;
    border-radius: 50%;
}

.wrapper-addveh .header ul li p{
    width: 50px;
    height: 50px;
    background: grey;
    color: var(--white);
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
}

.wrapper-addveh .header ul li.active:before{
    background: black;
}

.wrapper-addveh .header ul li.active p{
    background: black;
}

.wrapper-addveh .form_wrap{
    margin-bottom: 35px;
}

.wrapper-addveh .form_wrap h2{
    color: var(--header-clr);

    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.wrapper-addveh .form_wrap h3{
    color: black;
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
}

.wrapper-addveh .form_wrap .input_wrap{
    width: 350px;
    max-width: 100%;
    margin: 0 auto 20px;
}

.wrapper-addveh .form_wrap .input_wrap:last-child{
    margin-bottom: 0;
}

.wrapper-addveh .form_wrap .input_wrap label{
    display: block;
    margin-bottom: 5px;
}

.wrapper-addveh .form_wrap .input_wrap .input{
    border: 2px solid var(--secondary);
    border-radius: 3px;
    padding: 10px;
    display: block;
    width: 100%;
    font-size: 16px;
    transition: 0.5s ease;
}

.select-item {
    margin: 0;
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    border: 2px solid var(--secondary);
    border-radius: 3px;
    padding: 10px;
    display: block;
    width: 100%;
    font-size: 16px;
    transition: 0.5s ease;
    cursor: pointer;
}

.wrapper-addveh .form_wrap .input_wrap .input:focus{
    border-color: var(--primary);
}

.wrapper-addveh .btns_wrap{
    width: 350px;
    max-width: 100%;
    margin: 0 auto;
}

.wrapper-addveh .btns_wrap .common_btns{
    display: flex;
    justify-content: space-between;
}

.wrapper-addveh .btns_wrap .common_btns.form_1_btns{
    justify-content: flex-end;
}

.wrapper-addveh .btns_wrap .common_btns button{
    border: 0;
    padding: 12px 15px;
    background: #FAB84C;
    color: var(--white);
    width: 135px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 16px;
    border-radius: 3px;
    transition: 0.5s ease;
    cursor: pointer;
}

.wrapper-addveh .btns_wrap .common_btns button.btn_back{
    background: black;
}

.wrapper-addveh .btns_wrap .common_btns button.btn_next .icon{
    display: flex;
    margin-left: 10px;
}

.wrapper-addveh .btns_wrap .common_btns button.btn_back .icon{
    display: flex;
    margin-right: 10px;
}

.wrapper-addveh .btns_wrap .common_btns button.btn_next:hover,
.wrapper-addveh .btns_wrap .common_btns button.btn_done:hover{
    background:  #f4c375;
}

.wrapper-addveh .btns_wrap .common_btns button.btn_back:hover{
    background: var(--back-btn-hover);
}

.modal_wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.modal_wrapper .shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    opacity: 0;
    transition: 0.2s ease;
}

.modal_wrapper .success_wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-800px);
    background: var(--white);
    padding: 50px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: 0.5s ease;
}

.modal_wrapper.success_wrap .modal_icon{
    margin-right: 20px;
    width: 50px;
    height: 50px;
    background: #FAB84C;
    color: var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
}

.modal_wrapper.active{
    visibility: visible;
}

.modal_wrapper.active .shadow{
    opacity: 1;
}

.modal_wrapper.active .success_wrap{
    transform: translate(-50%,-50%);
}



/*  docs css*/
.container_1 {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.column {
    flex-basis: 30%;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label {
    flex-basis: 40%;
    font-weight: bold;
    font-size: 12px;

}

input[type="text"],
input[type="date"],
input[type="file"] {
    flex-basis: 60%;
}

/*range slider*/
.range-slider {
    width: 50%;
    margin: 50px auto;
}

#range-slider {
    width: 100%;
}

#range-value {
    display: block;
    margin-top: 10px;
}




label .required::before {
    content: "*";
    color: red;
    margin-right: 5px;
}

