.minimize {
    height: 50% !important;
}



.vehicle-card {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 90%;
    margin-top: 10px;
    margin-left: 40px;
}

.details-cont {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.vehicle-card img {
    width: 40%;
    align-items: flex-start;
    border-radius: 15px;
}

.vehicle-name {
    font-size: 32px;
    margin-top: 10px;
    padding-bottom: 5px;
    text-align: left;
}

.details-cont {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

}

.vehicle-info {
    width: 80%;
}

.vehicle-details {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 55%;
    font-size: 18px;
    margin-top: 10px;
    padding-left: 10px;
}

.vehicle-features {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
}

.vehicle-features > span {
    padding-left: 10px;
}



#gallery {
    margin: 0 auto;
    width: 45%;
    text-align: center;
    display: table;
}



.thumbnails, .large-image {
    display: table-cell;
}

.thumbnails {
    display: flex;
    flex-wrap: wrap;
}

.thumbnails::after {
    content: "";
    clear: both;
    display: table;
}

.thumbnails img {
    float: end;
    width: 10%;
    cursor: pointer;
    margin-right: 10px;
    width: 100px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 4px solid transparent;
}

.large-image {
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.large-image img {
    max-width: 100%;
    width: 600px;
    height: inherit;
    background-color: #cccccc;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.two-column-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-column, .right-column {
    width: 45%;
    padding: 20px;
}

.left-column ul,li, .right-column ul,li {
    list-style-type: none;
    padding: 0;
    text-align: justify;
    text-justify: inter-word;
}






img.small{
    width: 2% ;
    height: 50%;
    border-radius: 15px;
}

.vehicle-description , .lic-ex-date, .ins-ex-date{
    display: flex;
    margin: 2%;
    justify-content: space-between;
    align-items: flex-start;
}

.vehicle-description > p , .lic-ex-date >p , .ins-ex-date >p , .vehicle-rent-price >p{
    padding: 10px;

    text-align: left;
    text-justify: inter-word;
}


.editVehProfileBtn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.editVehInfobutton {
    position: relative;
    left: 50%;
    appearance: none;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    background-color: #fab84c;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 30px;
    min-width: 0;
    outline: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 25%;
    will-change: transform;
}

.editVehInfobutton:disabled {
    pointer-events: none;
}

.editVehInfobutton:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.editVehInfobutton:active {
    box-shadow: none;
    transform: translateY(0);
}
