
.date-search-container {
    display: flex;
    text-align: center;
    margin-top: 20px;
    justify-content: center;
    z-index: 1;
}

.date-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 5px;
    overflow: hidden;
    margin-top: 70px;
    font-size: 14px;
}

.date-input-container {
    margin: 0 10px;
}

.date-input-container input[type="date"] {
    padding: 5px;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 14px;
}

.search-date {
    background-color: #fab84c;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    z-index: auto;
}

.search-date i {
    margin-right: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .date-search {
        flex-direction: column;
        padding: 10px;
    }

    .date-input-container {
        margin: 10px 0;
    }
}

