.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-box {
    position: relative;
    margin: 10% auto;
    padding: 20px;
    background-color: white;
    width: 50%;
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.popup-box p {
    margin-bottom: 20px;
}

#yes-button, #no-button {
    padding: 10px 20px;
    /* background-color: #4CAF50; */

    background-color: #f7ba58;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 20px;
}

#no-button {
    background-color: #f44336;
    margin-left: 40px;
}

#confirm-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#confirm-button:hover {
    background-color: #3e8e41;
}
