@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


@import url('../components/nav.css');

@import url('../components/sidebar.css');

@import url('../components/style.css');

@import "admin-vehicle.css";
@import "adminaddVehicle.css";
@import "ownerViewVehicleProfile.css";

/* importing admin_Vehicleowner */
@import "admin_Vehicleowner.css";

@import "admin_driver.css";

@import "admin_profile.css";

@import "adminViewVehicleOwner.css";

@import url("adminOverview.css");

@import url("admin_vehicleComplaint.css");


@import url("./components/modal.css");

@import url("./components/table.css");

@import url("./components/search.css");

@import url("./admin_v.css");

.profile-cont {
    display: inline-flex;
    align-items: center;
}

.img-cont {
    padding: 0 20px;
    margin-top: 10px;
    margin-right: 20px;
}

.profile-image {
    width: 40px;
    height: 40px;
    border: 2px solid #FAB84C;
    border-radius: 50%;
}

.profile-name {
    font-size: 12px;
    font-weight: 500;
    color: #2f2f2f;
    background-color: #f6d59f;
    border: 1px solid #FAB84C;
    border-radius: 8px;
    height: fit-content;
    padding: 1px 4px;
    margin-left: 10px;
}












