@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


@import url('../components/nav.css');

@import url('../components/sidebar.css');

@import url('../components/style.css');

@import "admin-vehicle.css";
@import "adminaddVehicle.css";
@import "ownerViewVehicleProfile.css";

/* importing admin_Vehicleowner */
@import "admin_Vehicleowner.css";

@import "admin_driver.css";

@import "admin_profile.css";

@import "adminViewVehicleOwner.css";

@import url("adminOverview.css");

@import url("admin_vehicleComplaint.css");


@import url("./components/modal.css");

@import url("./components/table.css");

@import url("./components/search.css");

@import url("./admin_v.css");

@import url("../components/calender.css");

@import url("./admin_settings.css");



.profile-cont {
    display: inline-flex;
    align-items: center;
}

.img-cont {
    padding: 0 20px;
    margin-top: 10px;
    margin-right: 20px;
}

.profile-image {
    width: 40px;
    height: 40px;
    border: 2px solid #FAB84C;
    border-radius: 50%;
}

.profile-name {
    font-size: 12px;
    font-weight: 500;
    color: #2f2f2f;
    background-color: #f6d59f;
    border: 1px solid #FAB84C;
    border-radius: 8px;
    height: fit-content;
    padding: 1px 4px;
    margin-left: 10px;
}

.banner-msg {
    margin: 30px 50px;
    padding: 15px;
    width: 90%;
    background-color: white;
    border-radius: 15px;
    text-align: center;
}

.banner-msg h1{
    font-size: medium;
    font-weight: 600;
}

.bold {
    font-weight: bold;
}

.yellow {
    color: #FAB84C;
}

.main-title {
    text-align: center;
    margin: 5px 20px;
}

.sub-title {
    margin-left: 50px ;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}


.info-cont {
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.info-box {
    background-color: white;
    width: 920px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.info {
    display: flex;
    flex-direction: row;

    padding: 10px;
    margin: 5px 20px;
}

.info .info-logo {
    margin: 5px;
    margin-right: 15px;
}

.fav-cards {
    display: flex;
    flex-direction: row;

}

.fav1{
    width: 50%;
    height: 250px;
    background-color: #2d2d2d;
}

.fav2{
    width: 50%;
    height: 250px;
    background-color: #444444;
}

/* Define the animations */
@keyframes slide-in {
    from {
        transform: translateX(-40%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes pop-up {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Apply the animation to the h1 and span elements */
#animation-1 {
    animation: slide-in 2s ease-in-out ;
}

#animation-1 span {
    animation: pop-up 4s ease-out 4s infinite;
}

.flash-message {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    /* margin-bottom: 20px; */
}

.flash-message.success {
    background-color: #dff0d8;
    border-color: #3c763d;
    color: #3c763d;
}

.flash-message.error {
    background-color: #f2dede;
    border-color: #a94442;
    color: #a94442;
}

.flash-message.warning {
    background-color: #fcf8e3;
    border-color: #8a6d3b;
    color: #8a6d3b;
}

.flash-message.info {
    background-color: #d9edf7;
    border-color: #31708f;
    color: #31708f;
}













