/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.adminaddvehicle-body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    /*background: rgba(233, 213, 80, 0.818);*/
}
.container {
    position: relative;
    max-width: 90%;
    height: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.container header {
    position: relative;
    font-size: 20px;
    color: #333;
    font-weight: 600;
    text-align: center;
}

.container header ::before{
    content:"";
    position:absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color:goldenrod;
}
.container form {
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color:#fff;

}

.container form .form{
    position: absolute;
    background-color:#fff;
    transition: 0.3s ease;

}

/*.container form .form.second{*/
/*    opacity: 0;*/
/*    pointer-events: none;*/

/*}*/

/*form.secActive .form.second{*/
/*    opacity: 1;*/
/*    pointer-events: auto;*/


/*}*/

/*form.secActive .form.first{*/
/*    opacity: 0;*/
/*    pointer-events: none;*/


/*}*/

.container form .title{
    display: block;
    margin-bottom:8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}

.container form .fields{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
}

form .feilds .input-field{
    display: flex;
    width: calc(100% / 3 -15px);
    background-color: crimson;
    flex-direction: column;
}

.input-field label{
    font-size: 12px;
    font-weight:  500;
    color: #2e2e2e;
}

.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0px;
    margin-right: 10px;

}

.input-field input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.input-field input[type="date"]{
    color: #333;
}

.container form button,.backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: goldenrod;
    transition: all 0.3s linear;
    cursor: pointer;
}
/*.container form button*/
.container form .backBtn{
    font-size: 16px;
    font-weight: 400;

}

form button:hover{
    background-color:gold;
}

form button i
form .backBtni{
    margin: 0 6px;
}
form .backBtn i{
    transform:rotate(180deg);
}

form .buttons{
    display:  flex;
    align-items: center;
}

form .buttons button, .backbtn{
    margin-right: 14px;
}






.form .input-box {
    width: 100%;
    margin-top: 20px;
}
.input-box label {
    color: #333;
}
.form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}
.input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
    display: flex;
    column-gap: 15px;
}
.form .transmisson-box {
    margin-top: 20px;
}
.transmission-box h3 {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}
.form :where(.transmisson-option, .transmisson) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}
.form .transmisson {
    column-gap: 5px;
}
.transmisson input {
    accent-color: rgb(251, 239, 106);
}
.form :where(.transmisson input, .transmisson label) {
    cursor: pointer;
}
.transmisson label {
    color: #707070;
}

.nextBtn{
    padding: 10px;
    align-items: center;
}

/*.owneraddveh{*/
/*    display: grid;*/
/*    grid-template-rows: repeat(3,1fr);*/
/*}*/






/*Responsive*/
@media screen and (max-width: 500px) {
    .form .column {
        flex-wrap: wrap;
    }
    .form :where(.gender-option, .gender) {
        row-gap: 15px;
    }
}
