/* .admin_p_body{
    background-color: lightgray;
}



.profile_content{
    background: #ffffff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    margin-top: 8%;
    margin-bottom: 2rem;
    width: 80%;
    margin-left: 8%;
  
    display: flex;
}

.profile_img_img{
    width: 60%;
    border-radius: 50%;
    margin-left: 25%;

}

.profile_img{
    width: 30%;
}
.profile_details{
    width: 50%;
    text-align: center;
   
    
}

.profile_details{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.details_heading{
    text-align: right;
}

.details_values{
    text-align: left;
    margin-left: 10px;
}

.edit_profile{
    width: 20%;
}

.edit_profile_btn{
    width: 50%;
    background-color:#FAB84C;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    padding: 5px;
    margin-top: 80%;
} */


/*.profile-cont {*/
/*    display: inline-flex;*/
/*    align-items: center;*/
/*}*/

/*.img-cont {*/
/*    padding: 0 20px;*/
/*    margin-top: 10px;*/
/*    margin-right: 20px;*/
/*}*/

/*.profile-image {*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    border: 2px solid #FAB84C;*/
/*    border-radius: 50%;*/
/*    */
/*}*/

/*.profile-name {*/
/*    font-size: 12px;*/
/*    font-weight: 500;*/
/*    color: #FAB84C;*/
/*    background-color: #f6d59f;*/
/*    border: 1px solid #FAB84C;*/
/*    border-radius: 8px;*/
/*    height: fit-content;*/
/*    padding: 1px 4px;*/
/*    margin-left: 10px;*/
/*    */
/*}*/

/* Profile  */

.page-name {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 100px;
    border-bottom: 1px solid #e0e0e0;
}

.profile-wrapper{
    display: flex;
    margin-left: 50%;
    margin-top: 250px;
    align-items: center;
    background-color: #fff;
    transform: translate(-50%,-50%);
    width: 700px;
    height: max-content;
    display: flex;
    border-radius: 15px;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.profile-wrapper .left{
    margin: 10px;
    width: 35%;
    align-items: center;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #000000;
    background-color: #fff;
}

/*.profile-wrapper .left img{*/
/*    align-self: center;*/
/*    border-radius: 5px;*/
/*    margin-bottom: 10px;*/
/*}*/

.profile-wrapper .left h4{
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 10px;
}

.profile-wrapper .left p{
    font-size: 16px;
    text-align: center;
    /* width: fit-content; */
    background: #fab74c89;
    border: 1px solid #FAB84C;
}

.profile-wrapper .right{
    width: 65%;
    height: max-content;
    background: #fff;
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.profile-wrapper .right .info{
    display: block;
    margin-bottom: 25px;
}

.profile-wrapper .right .info h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.profile-wrapper .right .info_data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.profile-wrapper .right .info_data .data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.profile-wrapper .right .info_data .data h6{
    color: #353c4e;
    margin: 5px;
    font-size: 15px;
    font-weight: 500 ;
}

.profile-wrapper .right .info_data .data p{
    font-size: 16px;
    margin-bottom: 5px;
    color: #919aa3;
}





/* CSS */
.editProfileBtn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button28 {
    position: relative;
    left: 28%;
    appearance: none;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    background-color: #fab84c;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 30px;
    min-width: 0;
    outline: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 25%;
    will-change: transform;
}

.button28:disabled {
    pointer-events: none;
}

.button28:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button28:active {
    box-shadow: none;
    transform: translateY(0);
}

/*Change Profile Pic */
.profile-pic {
    color: transparent;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.profile-pic input {
    display: none;
}
.profile-pic img {
    position: absolute;
    object-fit: cover;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, .35);
    border-radius: 50%;
    z-index: 0;
}
.profile-pic .-label {
    cursor: pointer;
    height: 150px;
    width: 150px;
}
.profile-pic:hover .-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
    z-index: 10000;
    color: #fafafa;
    transition: background-color 0.2s ease-in-out;
    border-radius: 50%;
    margin-bottom: 0;
}
.profile-pic span {
    font-size: 0.8em;
    display: inline-flex;
    padding: 0.2em;
}

body a:hover {
    text-decoration: none;
}


/* Update Profile Modal */
/* .profileModal { */
    /* display: none; Hide the modal by default */
    /* position: fixed; Position the modal */
    /* z-index: 1; Set the z-index */
    /* left: 0;
    top: 0;
    width: 100%;
    height: 100%; */
    /* overflow: auto; Enable scroll if needed */
    /* background-color: rgba(0,0,0,0.4); Add a dark background with transparency */
/* } */

/* Style the modal content */
.modal-content {
    background-color: #fff;
    margin:auto; /* 10% from the top and centered */
    padding: 25px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    max-width: 800px;
    /* box-shadow: 0 5px 15px rgba(0,0,0,0.3); */
}

/* Style the close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Style form labels */
.up-profile label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.up-profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    justify-content: space-between;
    align-item: center;
    margin-top: 10%;
}

/* Style the submit button */
.up-profile button {
    width: 70%;
    background-color: #FAB84C;
    margin-top: 15px;
    margin-right: 14px;
    grid-column: 2;
    justify-self: end;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.up-profile button:hover {
    background-color: #FCB86F;
}

/* Style the labels */
.up-profile label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style the input fields */
.up-profile input[type="text"],
.up-profile input[type="email"],
.up-profile input[type="tel"],
.up-profile textarea {
    /* width: 95%; */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}


/* Style the textarea */
.up-profile textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 100px;
    width: 100% !important;
}

/* Responsive styles */
@media (max-width: 768px) {
    .up-profile {
        grid-template-columns: 1fr;
    }
}