.table-container {
    max-width: 90%;
    margin: 50px 25px 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}
.table {
    width: 100%;
    border-collapse: collapse;
    vertical-align: middle;
}
.table-header {
    display: flex;
    width: 100%;
    background: #000;
    padding: 18px 0;
    border-radius: 15px;
}
.table-row {
    display: flex;
    width: 100%;
    padding: 18px 0;
    text-align: center;
    border-radius: 15px;
    background: rgb(255, 255, 255);
    margin: 15px 0;
    vertical-align: middle;
    transition: 0.4s;
}
.table-row:hover {
    transform: scale(1.02);
    box-shadow: -5px 14px 19px -8px rgba(0,0,0,0.49);
    -webkit-box-shadow: -5px 14px 19px -8px rgba(0,0,0,0.49);
    -moz-box-shadow: -5px 14px 19px -8px rgba(0,0,0,0.49);
}

.table-data {
    justify-content: center;
}

.table-data, .header__item {
    display: flex;
    align-items: center;
    flex: 1 1 20%;
    text-align: center;
    justify-content: center;
}
.header__item {
    text-transform: uppercase;
}
.filter__link {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-left: 24px;
    padding-right: 24px;
}
.filter__link::after {
    content: '';
    position: absolute;
    right: -18px;
    color: white;
    font-size: 12px;
    top: 50%;
    transform: translateY(-50%);
}
.filter__link.desc::after {
    content: '(desc)';
}
.filter__link.asc::after {
    content: '(asc)';
}

.checked {
    color: orange;
  }

 /* How it works CSS */

  .hiw-cont {
    display: flex;
    flex-direction: row;
    margin: 50px;
  }

  .ico-cont {
    display: flex;
    justify-content: space-evenly;
  
  }

  .ico-cont img {
    height: 56px;
  }
  
  /* CSS */
  .button-28 {
    background-color: #FAB84C;
    border: 1px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    padding: 16px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
  }

  .view-button, .book-button {
    background-color: #FAB84C;
    color: black;
    font-weight: 500;
    padding: 12px 20px;
    border: none; 
    border-radius: 15px;
    cursor: pointer; 
    width: 70%; 
  }

  .view-button:hover, .book-button:hover {
    background-color: #000000;
    color: white;
  }
  
  .button-28:disabled {
    pointer-events: none;
  }
  
  .button-28:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-28:active {
    box-shadow: none;
    transform: translateY(0);
  }

  .ico-cont:after{content:""; display: inline-block; width: 100%; height: 0;}