.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}


.info-cont {
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.info-box {
    background-color: white;
    width: 75%;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;

}

.info {

    padding: 10px;
    margin: 5px 20px;
}