@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

#form {
    background-color: #ffffff;
    width: 380px;
    height: 37px;
    border-radius: 40px;
    display:flex;
    flex-direction:row;
    align-items:center;
}

.search input {
    all: unset;
    font: 16px system-ui;
    color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    padding: 0px 20px;
}

.search ::placeholder {
    color: rgb(0, 0, 0);
    opacity: 0.7;
}

.search button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}