#backBtn {
    padding: 12px 18px;
    margin-left: 50px;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.75);
    outline: none !important;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border-radius: 18px;
    z-index: 1;
    color: #000000;
/*    shadow */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#backBtn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: inherit;
    z-index: -1;
    background: rgb(121, 121, 121);
    transition: opacity 0.3s ease;
    border-radius: 18px;
}

#backBtn:hover:after {
    left: auto;
    right: 0;
    width: 100%;
    border-radius: 18px;
}

#backBtn:active {
    top: 2px;
}

#backBtn:hover {
    color: rgba(0, 0, 0, 0.75);
    background: #ffffff;
    transition: all 0.3s ease;

}

.pay-details {
    max-width: 100%;
    margin: 25px 50px;
    padding: 10px 20px;
    background: white;
    border-radius: 15px;
}


.total-amount {
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
}

.total-amount h2 {
    color: #fff;
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 30px;
}

.pay-form-group {
    display: flex;
    width: 100%;
    align-item: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px;
}

.pay-form-group label {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

label.currency {
    font-size: 16px;
    color: white;
    font-weight: 500;
    float: right;
    margin-right: 40px;
}

.pay-form-group input {
    text-align: right;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px;
    transition: border-bottom-color 0.3s;
}

.pay-form-group input:focus {
    outline: none;
    border-bottom-color: #fab84c;
}

.pay-form-group input[type="text"][readonly] {
    color: #fff;
    font-weight: normal;
}

.pay-form-group button {
    width: 18.5rem;
    margin-left: auto;
    background-color: #556cd6;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.pay-form-group button:hover {
    background-color: #6074d9;
/*    shadow for the button*/
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.pay-form-group select {
    width: 15%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.pay-form-group select:focus {
    outline: none;
    box-shadow: 0 0 5px #aaa;
}

.hr1 {
    margin: 10px 0;
}


