footer {
    background-color: #333;
    color: #fff;
    font-size: 14px;
    padding-top: 30px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
}

.footer-section {
    width: 30%;

}

.footer-section h3 {
    margin-bottom: 20px;
}

.footer-section p {
    margin-bottom: 10px;
}

.footer-section ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section li {
    margin-bottom: 10px;
}

.footer-section a {

    color: #fff;
    text-decoration: none;
}



.footer-bottom {
    background-color: #222;
    padding: 10px 20px;
    text-align: center;
}

.footer-section a:hover{
    color: #f1c40f;
}
