@import "cancelModal.css";

/* Table */
.table-wrapper {
  max-width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}

/* #3 button container */
.button-container {
  display: flex;
  justify-content: space-evenly;
}


.bookingTable {
  font-weight: 500;
  width: 100%;
  border-collapse: collapse;
  margin: 20px 50px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: 0.4s;
  overflow: hidden;
}

.bookingTable thead th {
  background-color: #333;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 12px;
  text-transform: uppercase;
  font-size: 0.7rem;

  letter-spacing: 1px;
}

.bookingTable tbody td {
  padding: 10px;
  font-size: 14px;
  color: #333;
  text-align: center;
  border-bottom: 1px solid #dfdfdf87;
}

.bookingTable tbody tr:last-child td {
  border-bottom: none;
}

.bookingTable tbody tr.parent {
  cursor: pointer;
  background-color: #ffffff;
  transition: background-color 0.3s ease-in-out;
  transition: 0.4s;
}

.bookingTable tbody tr.parent-info {
  display: inline-block;
  vertical-align: middle;
}

.bookingTable tbody tr.parent-info img{
  max-width: 100px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.bookingTable tbody tr.parent:hover {
  box-shadow: 0px 0px 10px #909090;
  transform: scale(1.009);
}

.bookingTable tbody tr.child {
  background-color: #adadad;
  padding: 10px;
  transition: 0.8s;
}


/* .bookingTable tbody tr.child .child-info {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: left;
  font-size: 14px;
  color: #333;
} */

/* .bookingTable tbody tr.child .child-info p {
  margin: 0;
  line-height: 1.5;
  padding: 5px 0;
} */

.bookingTable tbody tr.parent td:first-child{
  text-align: center;
  font-weight: bold;

}

.bookingTable tbody tr.parent td:last-child
{
  padding-right: 10px;
}

.parent-info {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
}

.parent-info img {
  max-width: 100px;
  margin-right: 20px;
  border-radius: 15px;
}

.parent-info p {
  margin: 0;
  line-height: 1.5;
}

.parent-info p.small {
  font-size: small;
  padding: 0 10px;
}

.status {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  letter-spacing: 0.5px;
}

.status.pending {
  color: #f39c12;
  background-color: #fff3cd;
}

.status.booked {
  color:#008080;
  background-color: #cde9ff;
}

.status.confirmed {
  color: #28a745;
  background-color: #c3e6cb;
}

.status.cancelled {
  color: #dc3545;
  background-color: #f8d7da;
}

.status.completed {
  color: #6c757d;
  background-color: #f8f9fa;
}

.pay-type {
  color: #dc3545;
}

.cancel-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
  padding: 10px;
  background-color: white;
  color: red;
  font-size: 12px;
  font-weight: bold;
  border: 2px solid red;
  border-radius: 15px;
  cursor: pointer;
}

.cancel-btn:hover {
  background-color: red;
  color: white;
}

.pay-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100px; /* adjust as needed */
  margin: 0 auto;
  padding: 10px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border: 2px solid #000;
  border-radius: 15px;
  cursor: pointer;
}

.pay-btn:hover {
  background-color: rgb(255, 255, 255);
  border: 2px solid #000000;
  color: black;
}

.bookingTable tbody tr.child .child-info {
  padding: 5px;
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.booking-info {
  flex-basis: 48%;
  margin-right: 10px;
  text-align: justify;
}

.booking-data {
  display: table;
  margin-top: 20px;
}

.booking-data .row {
  display: table-row;
}

.booking-data .cell {
  display: table-cell;
  padding-right: 20px;
}


.driver-info {
  flex-basis: 48%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.booking-info, .driver-info {
  padding: 10px;
  background: #ffffff;
  border: 1px dashed;
  border-radius: 15px;

}

.driver-image {
  width: 100px;
  flex: 0 0 30%;
  margin-right: 20px;
}

.driver-image img {
  max-width: 75px;
  height: auto;
  border-radius: 50%;
}

.driver-details {
  flex: 0 0 60%;
  text-align: justify;
}

.driver-details h3 {
  margin-top: 0;
}

/* width and height for the scrollbar thumb */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* background color for the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* color for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* color for the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Styles for Completed Bookings */

.actions {
  text-align: right;
}

.review-button,
.reorder-button {
  display: inline-block;
  padding: 4px 10px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid #343434;
  border-radius: 4px;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #262626;
  background-color: #ffffff;

}

.review-button {
  margin-right: 10px;
}

.review-button:hover,
.reorder-button:hover {
  background-color: #262626;
  color: #fff;

}

.review-button:focus,
.reorder-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ec9844;
}

/* Styles for the modal */
.review-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.review-modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  max-width: 600px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close-modal {
  color: #888;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-modal:hover {
  color: #333;
}

.reviews-container {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.reviews-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.review {
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
}

.review:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.rating {
  font-size: 2em;
  color: orange;
}

.review-text {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 1em;
  color: #555;
}

.reviewer {
  font-size: 1.2em;
  font-style: italic;
  color: #888;
}

#review-form {
  margin-top: 2em;
  text-align: left;
}

.reviews-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.review {
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
}

.review:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.rating {
  font-size: 2em;
  color: orange;
}

.review-text {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 1em;
  color: #555;
}


.review-modal-content label {
  display: block;
  margin-bottom: 0.5em;
}

.review-modal-content select,
.review-modal-content textarea,
.review-modal-content input[type="text"] {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
}

.review-modal-content select {
  border-radius: 12px;
}

.review-modal-content textarea {
  font-size: 14px;
}

.review-modal-content button[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 0.5em 1em;
  background-color: #fab84c;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}




/* Responsive */
@media only screen and (max-width: 768px) {
  .bookingTable {
    width: 100%;
    height: min-content;
  }
  .bookingTable thead {
    display: none;
  }

  .bookingTable tbody td {
    display: block;
    text-align: center;
    padding: 10px;
  }

  .parent-info {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }

  .parent-info img {
    margin: 0 0 10px;
    margin-right: 10px;
  }
}