#backBtn {
    padding: 12px 18px;
    margin-left: 50px;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.75);
    outline: none !important;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border-radius: 18px;
    z-index: 1;
    color: #000000;
    /*    shadow */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#backBtn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: inherit;
    z-index: -1;
    background: rgb(121, 121, 121);
    transition: opacity 0.3s ease;
    border-radius: 18px;
}

#backBtn:hover:after {
    left: auto;
    right: 0;
    width: 100%;
    border-radius: 18px;
}

#backBtn:active {
    top: 2px;
}

#backBtn:hover {
    color: rgba(0, 0, 0, 0.75);
    background: #ffffff;
    transition: all 0.3s ease;

}