/* CSS Library */

/* Boxicons */
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

/* COMPONENTS */
@import url('components/topnavbar_styles.css');
@import url('components/form_style2.css');
@import url('components/sidebar.css');
@import url('addnewveh.css');


/* FONTS */
@font-face{
    font-family: Poppins-Regular;
    src: url(fonts/Poppins-Regular.ttf);
}

body {
    margin: 0;
    font-family: Poppins-Regular;
    font-size: 25px;

}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    padding-bottom: 20px;
    /* color: black; */
}
.head-topic{
    padding:10px 50px 10px 50px;
}

.topic{
    border-radius: 10px;
    background-color: #b5b1b1;
}

.mainfrm{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.colm1{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    /* padding-right: 100px; */
}

.colm2{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* padding-left: 50px;
    padding-right: 100px; */

}

input[type=text],input[type=file] {
    width: 75%;
    padding: 12px;
    margin: 5px 0 15px 0px;
    display: inline-block;
    border: 1px solid #9f9f9f;
    background: #ffffff;
}

.submit-btn{
    text-align: center;
    padding-top: 50px;
}
input[type=submit]{
    color: black;
    font-size: 20px;
    background-color: #FAB84C;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
}